.ps {
  height: 500px;
  background: #303030;
}

.cameras-link {
  text-decoration: none;
  color: #ffffff !important;
}

.nav-label {
  color: #fff;
  font-size: 16px !important;
  padding-top: 5px;
}

.evercam-icon {
  float: left;
  height: 24px;
  margin-right: 5px;
  margin-top: -4px;
  width: 24px;
}
